$color_main:rgb(121, 6, 6);
$color_back:aquamarine;
$color_h2:blueviolet;
$color_return:rgb(211, 35, 35);

* {
    box-sizing: border-box;
}

body{
    background-color:$color_back;
    color:$color_main;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main_wrapper, .menu-mobile, .menu-desk{
    width:90%;   
    margin-left:5%;
    margin-right:5%;
}


img{
    width:100%;
}

header{
    background-image:url('../assets/background.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction:column-reverse;
/*     justify-content: space-between; */
    
    h1 {
        font-family: 'Galada', cursive;
        font-size: 2.4rem;
        margin-left:2rem;
        padding-top:0.5rem;
        padding-bottom:5rem;
        text-align:left;
    }
    nav{
        text-align:right;
        margin-right:5%;
        margin-top:2%;
    }
}

nav{
    font-size: 1rem;
    a{
        text-decoration:none;
        color:inherit
    }
}

section{
    p:nth-of-type(1):not(.exc_letra)::first-letter{
        font-size:200%;
    }
    ul{
    list-style-type: circle;
    padding-left:2.5rem;
        li{
            padding:0.5rem 0.3rem;
        }
    }
}

nav.menu-mobile{
    background-color: $color_main;
    color: $color_back;
}

nav.menu-mobile,nav.menu-desk{
    
    margin-top:1rem;
    a{
        padding-top:0.5rem;
        padding-bottom:0.5rem;
        padding-left:1rem;
        display:inline-block;
        &:hover{
            background-color: $color_back;
            color: $color_main;
        }
    }
}

nav.hide-menu{
    display:none;
}

section{
    
    img{
        display:block;
        margin:auto;
        width:100%;
        max-width: 800px;
        padding-top:1rem;
        padding-bottom:1rem;
    }


    h2{
        font-family: 'Galada', cursive;
        font-size:2rem;
        font-weight: 900;
        text-align:center;
        padding-top:3rem;
        padding-bottom:1rem;
    }
    p{
        font-size:1rem;
        padding-top:0.5rem;
        padding-bottom:0.5rem;
        text-align:justify;
    }

        table{
            margin:auto;
            th, td {
            padding: 1.5rem 2rem;
            border:1px solid;
            }
            th {
                background-color: mediumseagreen;
                color: $color_main;
            }  
        }
   
}

q{
    &::before{
        content:"\201C";
    }
    &::after{
        content:"\201D";
    }
    font-style: italic;
}


div.return{
    margin-top:1rem;
    a{
        display:inline-block;
        text-decoration: none;
        color:$color_back;
        border-radius: 20%;
        background-color:$color_return;
        padding:1rem;
        transition:transform 0.5s linear;
        &:hover{
            transform: scale(1.2);
        }

        
    }
}
    

footer{
    border-top:1px solid;
    margin-top:2rem;
    padding-top:1rem;
    text-align:center;
}


@media screen and (min-width:650px){
    header{
        h1{
            font-size:3rem;
            padding-left:2rem;
        }
        nav:nth-of-type(1){
            display:none;
        }
    }
    nav.menu-mobile{
        display:none;
    }
    nav.menu-desk{
        display:block;
        
        ul{
            display:flex;
            justify-content: flex-end;
            
        }
        a{
            padding:0.5rem 1rem;
            display:block;
            border-radius: 20%;
            transition:transform 0.5s linear;
            &:hover{
                transform: scale(1.2);
                
            }
        }
        .submenu{
            display:none;
            position:absolute;
            top:2rem;
            left:-2rem;
            background-color: rgba(127, 255, 212, 0.5);
        }

    }
       
    
   .main_wrapper{
        width:85%;   
        margin-left:auto;
        margin-right:auto;
   }
    
}


@media screen and (min-width:960px){
    header{
        h1{
            font-size:3.5rem;
            padding-left:2rem;
        }
        
    }

    

    .main_wrapper{
        width:80%;   
        margin-left:auto;
        margin-right:auto;
   }
       
       
    section p{
        font-size:1.2rem;
    }

    /* div.wrapper{
        display:flex;
        div{
            width:50%;
            padding-left:1rem;
            padding-right:1rem;
        }
    } */

    

    section{
        img{
            width:85%;
        }
    }

    .wrapper{
        display:flex;
        justify-content: space-between;
        p:nth-of-type(1)::first-letter{
            font-size:200%;
        }
        div{
            padding:1rem;
        }
    }
    
    
}