* {
    box-sizing: border-box;
}

body{
    margin:2rem;
    padding: 2rem;
    background-color: aquamarine; 
}

// Aquí va el header

@import 'header.scss';

footer{
    address{}
    >p {color:maroon}
    
}

