body{
    margin:2rem;
    background-color: aquamarine;
    header{
        width:60%;
        margin-left:auto;
        margin-right:auto;
        h1{color:yellowgreen}
        p {font-size: 1.5rem;}
    }

}
    