@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  background-image: url("../assets/abstract-sky-background.jpg");
  background-color: aquamarine;
  color: #790606;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.main_wrapper, .menu-mobile, .menu-desk {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

img {
  width: 100%;
}

header {
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  color: orange;
  /*     justify-content: space-between; */
}
header h1 {
  font-family: "Galada", cursive;
  font-size: 2.7rem;
  margin-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 5rem;
  text-align: left;
  /* color:yellowgreen; */
}
header nav {
  /* font-size:1.2rem; */
  text-align: right;
  margin-right: 5%;
  margin-top: 2%;
  font-weight: bold;
}

nav {
  font-size: 1rem;
}
nav a {
  text-decoration: none;
  color: inherit;
}

section p:nth-of-type(1):not(.exc_letra)::first-letter {
  font-size: 200%;
}
section ul {
  list-style-type: square;
  padding-left: 2.5rem;
}
section ul li {
  padding: 0.5rem 0.3rem;
}

nav.menu-mobile {
  background-color: #790606;
  color: aquamarine;
}

nav.menu-mobile, nav.menu-desk {
  margin-top: 1rem;
}
nav.menu-mobile a, nav.menu-desk a {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  display: inline-block;
}
nav.menu-mobile a:hover, nav.menu-desk a:hover {
  background-color: aquamarine;
  color: #790606;
}

nav.hide-menu {
  display: none;
}

section img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 800px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
section h2 {
  font-family: "Galada", cursive;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
section p {
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: justify;
}
section div.tabla {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}
section div.tabla table {
  box-shadow: 5px 5px 10px 5px grey;
  margin-top: 1rem;
}
section div.tabla table th, section div.tabla table td {
  padding: 1rem 1.5rem;
  border: 1px solid;
}
section div.tabla table th {
  background-color: mediumseagreen;
  color: #790606;
}
section div.tabla p {
  font-style: italic;
  font-size: 0.9rem;
}

.video_aire {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 90%;
  margin: auto;
}
.video_aire iframe {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* margin-left:auto;
  margin-right:auto; */
  margin-top: 1rem;
  max-width: 640px;
  max-height: 360px;
}

.aeromedia {
  font-style: italic;
}

q {
  font-style: italic;
}
q::before {
  content: "“";
}
q::after {
  content: "”";
}

div.return {
  margin-top: 1rem;
}
div.return a {
  display: inline-block;
  text-decoration: none;
  color: aquamarine;
  border-radius: 20%;
  background-color: #d32323;
  padding: 0.5rem 1rem;
  transition: transform 0.5s linear;
}
div.return a:hover {
  transform: scale(1.2);
}

footer {
  border-top: 1px solid;
  margin-top: 2rem;
  padding-top: 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  /* address{
      flex:0 1 60%;
  
  }
  ul{flex:0 1 40%;} */
}
footer li {
  display: inline-block;
  /* align-items:flex-end; */
  padding-right: 0.2rem;
  padding-left: 0.5rem;
  margin-bottom: 10px;
}
footer li .fab {
  border-radius: 50%;
}
footer li .fa-facebook {
  background-color: #3C599F;
}
footer li .fa-twitter {
  background-color: #32CCFE;
}
footer li .fa-youtube {
  background-color: #C52F30;
}

.fab {
  font-size: 1rem;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
}

.fab:hover {
  color: green;
}

.anim {
  position: relative;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transfrom: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: #ccc;
  border: 5p solid #fff;
  box-shadow: 0 0 0 2px orange;
  border-radius: 50%;
  overflow: hidden;
}

@media screen and (min-width: 650px) {
  header h1 {
    font-size: 3rem;
    padding-left: 2rem;
  }
  header nav:nth-of-type(1) {
    display: none;
  }

  nav.menu-mobile {
    display: none;
  }

  nav.menu-desk {
    display: block;
  }
  nav.menu-desk ul {
    display: flex;
    justify-content: flex-end;
  }
  nav.menu-desk a {
    padding: 0.5rem 1rem;
    display: block;
    border-radius: 20%;
    transition: transform 0.5s linear;
  }
  nav.menu-desk a:hover {
    transform: scale(1.2);
  }
  nav.menu-desk .submenu {
    display: none;
    position: absolute;
    top: 2rem;
    left: -2rem;
    background-color: rgba(127, 255, 212, 0.5);
  }

  .main_wrapper {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}
footer ul {
  margin-left: 5rem;
}

@media screen and (min-width: 960px) {
  header h1 {
    font-size: 3.5rem;
    padding-left: 2rem;
  }

  .main_wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  section h2 {
    font-size: 2.5rem;
  }
  section p {
    font-size: 1.2rem;
  }

  /* div.wrapper{
      display:flex;
      div{
          width:50%;
          padding-left:1rem;
          padding-right:1rem;
      }
  } */
  section img {
    width: 85%;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  .wrapper p:nth-of-type(1)::first-letter {
    font-size: 200%;
  }
  .wrapper div {
    padding: 1rem;
  }
}

/*# sourceMappingURL=css/style.css.map */
